@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    background: black;
    color: white;
    -webkit-text-stroke: 3px black;
}

h2 {
    font-size: 5rem;
}

.Main {
    display: flex;
    height: 100vh;
    width: 100vw;

}

.centerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}